<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
	<appenders> 
		<Console name="Console" target="SYSTEM_OUT"> 
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c %M - %msg%n"/>  
			<!-- <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/> -->
		</Console> 
		
		<!-- show.analyze info级别的 -->
        <RollingFile name="show.analyze-info" fileName="logs/show.analyze-info.log"
                     filePattern="logs/show.analyze-info.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="info" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>
        
        <!-- show.analyze error级别的 -->
        <RollingFile name="show.analyze-error" fileName="logs/show.analyze-error.log"
                     filePattern="logs/show.analyze-error.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="error" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>
        
        <!-- show.analyze warn级别的 -->
        <RollingFile name="show.analyze-warn" fileName="logs/show.analyze-warn.log"
                     filePattern="logs/show.analyze-warn.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="warn" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>
        
        <!-- rpc debug级别的 -->
        <RollingFile name="show.analyze-debug" fileName="logs/show.analyze-debug.log"
                     filePattern="logs/show.analyze-debug.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="debug" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>
	</appenders> 
	
	<loggers>
		<root level="INFO"> 
			<appender-ref ref="Console"/> 
		</root> 
		<!-- 框架运行中涉及到的日志 -->
        <logger name="com.elasticsearch" additivity="true">
            <appender-ref ref="show.analyze-info"/>
            <appender-ref ref="show.analyze-error"/>
            <appender-ref ref="show.analyze-debug"/>
            <appender-ref ref="show.analyze-warn"/>
        </logger>
	</loggers> 

</configuration>


